<%= form_with model: @profile, local:true do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :address, 'Endereço' %>
    <%= f.text_field :address %>
  </div>
  <%= f.submit 'Salvar dados'%>
<%end%>