<ul>
<% @enroll.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
<% end %>
</ul>

<%= form_with model: @enroll, url: subsidiary_enrolls_confirm_path, local:true do |f| %>
  <%= f.label :plan_id %>
  <%= f.collection_select(:plan_id, @subsidiary.plans, :id, :description, prompt: 'Selecione o plano') %>
  <%= f.label :payment_option_id %>
  <%= f.collection_select(:payment_option_id, @payment_options, :id, :name, prompt: 'Selecione a forma de pagamento') %>
  <%= f.submit t('.submit') %>
<% end %>