<%= link_to 'Registrar Personal Trainer', new_personal_registration_path %>



<% if personal_signed_in?  %>
  <%= current_personal.name %><br>
<% end %>


<% if client_signed_in? && current_client.enroll.present? %>
  <% if current_client.profile.nil?%>
    <%= link_to 'Complete seu perfil', new_profile_path %>
  <% else %>
    <%= link_to 'Meu perfil', profile_path(current_client.profile) %>
  <% end %>
<% end %>

<%= render partial: 'subsidiaries/search' %>

<% if @subsidiaries.empty? %>
  <h1>Nenhuma filial encontrada</h1>
<% else %>
  <% @subsidiaries.each do |subsidiary| %>
    <h1><%= link_to subsidiary.name, subsidiary_path(subsidiary.id) %></h1>
    <%= subsidiary.address %><br>
    <%= subsidiary.cep %>
  <% end %>
<% end %>
