<%= link_to 'Registrar Personal Trainer', new_personal_registration_path %>

<% if personal_signed_in? %>
  <%= current_personal.name %><br>
<% end %>

<%= render partial: 'subsidiaries/search' %>

<% if @subsidiaries.empty? %>
  <h1>Nenhuma filial encontrada</h1>
<% else %>
  <% @subsidiaries.each do |subsidiary| %>
    <h1><%= subsidiary.name %></h1>
    <%= subsidiary.address %><br>
    <%= subsidiary.cep %>
  <% end %>
<% end %>
