<% if personal_signed_in? %>
  <p>Bem vindo, <%= current_personal.name %>!</p>
<% end %>

<%= render partial: 'subsidiaries/search' %>

<% if @subsidiaries.empty? %>
  <h1>Nenhuma filial encontrada</h1>
<% else %>
  <% @subsidiaries.each do |subsidiary| %>
    <h1><%= subsidiary.name %></h1>
    <%= subsidiary.address %><br>
    <%= subsidiary.cep %>
  <% end %>
<% end %>
