<%= form_with(model: @appointment, local: true) do |form| %>
  <div>
    <% if @appointment.errors.any? %>
      <% @appointment.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    <% end %>
  </div>

  <%= form.label :appointment_date %>
  <%= form.date_field :appointment_date, min: Date.current %>

  <%= form.label :price_per_hour %>
  <%= form.number_field :price_per_hour, min: 0%>

  <%= form.submit 'Enviar' %>
<% end %>
