<!DOCTYPE html>
<html>
  <head>
    <title>EspertoFitClientes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if client_signed_in? %>
      <%= link_to 'Sair', destroy_client_session_path, method: :delete %>
    <%  else %>
      <%= link_to 'Registrar', new_client_registration_path %>
      <%= link_to 'Entrar', new_client_session_path %>
    <% end %>
    
    <%= link_to 'Minha Agenda', appointments_path if personal_signed_in? %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
